<div class="flex items-center justify-center min-h-screen bg-[#f6f4f0]">
  <form class="bg-gradient-to-br from-[#64b0a8] to-[#008d92] shadow-2xl rounded-2xl p-10 max-w-2xl w-full flex flex-col items-center">
    <h2 class="text-3xl font-bold text-white mb-8">Estamos trabajando</h2>
    <img 
      src="https://img.freepik.com/foto-gratis/playa-hermosa-vista-marino-isla-koh-chang-provincia-trad-tailandia-sobre-fondo-cielo-azul_1150-10256.jpg?t=st=1745106554~exp=1745110154~hmac=53f5e92a3090aef82af7c4fb52069711ee95862f2c0a0792373c3eeb00730c5a&w=996" 
      alt="Trabajando" 
      class="rounded-lg shadow-lg max-w-full max-h-[500px] object-contain"
    />
  </form>
</div>
